html,
body{
  height: 100%;
}

body{
	font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
   animation-name: bodyfade;
  animation-duration: 1s;
}

@-webkit-keyframes bodyfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1{
	font-weight: bold;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centermain{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  padding: 5px 20px;
  background-color: black;
  color: white;
  border: 1px solid black
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  background-color: transparent;
  color: black;
  border-bottom: 1px solid black;
}


.btnmain {
	font-weight: 900;
  padding: 5px 20px;
  background-color: white;
  color: black;
  border: 1px solid black
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btnmain:hover {
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
}

.btn2 {
  padding: 1px 5px;
  background-color: black;
  color: white;
  border: 1px solid black
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn2:hover {
  background-color: transparent;
  color: black;
  border-bottom: 1px solid black;
}


.hidemode{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 10;
	background-image: url("../img/hidemode.PNG");
	background-color: black;
	cursor: pointer;
	background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
      animation-name: showhidemodea;
    animation-duration: 0.2s
	
}

@-webkit-keyframes showhidemodea {
    from {opacity: 0;} 
    to {opacity: 1;}
}

.tile{
  width: 250px;
  height: 150px;
}

.textarea{
  background-color: white;
  height: auto;
  width: auto;
  color: black;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 60%;
  padding: 10px;
}

.gamearea{
	width: 1000px;
	height: 500px;
}

.gameareabig{
	width: 1000px;
	height: 600px;
}

.overlay-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.5;
  z-index: 1;
}

.alert {
  position: fixed;
  color: black;
  background-color: white;
  text-align: center;
  padding: 20px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    animation-name: kfade;
  animation-duration: .8s;
}

@-webkit-keyframes kfade {
  from {
    opacity: 0;
	top: 10%
  }
  to {
    opacity: 1;
	top: 50%
  }
}


.maintitle{
	font-weight: bold;
	font-size: 5em;
	font-weight: 900;
	color: white;
	line-height:0.0em;
}

.maintagline{
		font-weight: bold;
	font-weight: 900;
	color: white;
	line-height:0.0em;
}

.bgmain {
  background-image: url("../img/mainwall.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: fixed; 
  top:0px; 
  left:0px; 
  z-index:-2; 
  width:100%; 
  margin:auto;
}
.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.6;
  z-index: -1;
}
